body {
    background-size: cover;
    background-position: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.left {
    height:600px;
    margin-right: 50%;
    min-width: 300px;
}

#burger {
    width: 80%;
    height: 80%;
}

#hand {
    width: 20%;
    height: 20%;
}

#worker {
    width: 45%;
    height: 45%;
}

#money {
    width: 30%;
    height: 30%;
}
