body {
    background-color: rgb(238, 176, 101);
    background-size: cover;
    background-position: center;  
    font-family: 'Arial';
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.left {
    height:950px;
    width: 625px;
    
    
    border:5px solid #000000
    
}

.shop_elements {
    display: flex;
    flex-direction: row;
    height:250px;
    align-items: center;
    border:5px solid #000000
}

.middle {
    height:950px;
    width: 625px;
    text-align: center;
    border:5px solid #000000
}

.right {
    height:950px;
    width: 625px;
    border:5px solid #000000
}

.workers {
    display: flex;
    flex-direction: row;
    height:250px;
    align-items: center;
    border:5px solid #000000
}

.sell {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 30%;
}

.worker {
    display: flex;
    flex-direction: row;
}

.economy {
    display: flex;
    flex-direction: row;
    height:600px;
    border:5px solid #000000
}

.money {
    margin-top: 3%;
    margin-left: 3%;
}

.money_text {
    border:5px solid #000000
}

.workers_text {
    border:5px solid #000000
}

.shop_text {
    border:5px solid #000000
}

.hand {
    display: flex;
    flex-direction: row;
}

.empty_div {
    display: flex;
    flex-direction: row;
    height:610px;
    border:5px solid #000000
}




#burger {
    min-width: 300px;
    min-height: 300px;
    max-height: 300px;   
}

#hand {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;   
}
#sell {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;   
}

#worker {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;   
}


#money {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;   
}
